@use '../utils/_variables.scss' as *;
@use '../utils/_mixins.scss' as *;

.button {
  display: block;
  width: fit-content;
  margin: auto;
  background: var(--button-gradient);
  color: white;
  padding: 0.8125rem 1.1720625rem;
  box-shadow: $button-shadow;
  @include boutonText;
  border-radius: 25px;
  border: none;
  &--restaurants {
    width: 11.625rem;
    height: 3.125rem;
  }
}
