.menu-page__menu__info__card {
    min-width: 93.066%;
    background-color: white;
    padding: 0;
    border-radius: 15.04px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4.01px 15.04px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: apparition 0.5s linear forwards;

    &__checkbox {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 3;
        margin: 0;

        &:checked {
            &~.menu-page__menu__info__card__check {
                transform: translateX(0);
                .fa-circle-check {
                    transform: rotate(360deg);
                }
            }
            &~.menu-page__menu__info__card--prix {
                transform: translateX(0);
            }

        }
    }

    &__plats {
        display: flex;
        flex-direction: column;
        z-index: 0;
        margin: 0.9375rem 0 0.9375rem 0.9375rem;
        flex: 1;
        min-width: 0;

        &--name {
            margin-bottom: 0.3125rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &--description {
            font-size: var(--plat-description-size);
            font-weight: var(--plat-description-weight);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &--prix {
        margin: 0 1.25rem 0.9375rem 0.9375rem;
        font-size: var(--plat-description-size);
        font-weight: 900;
        color: #353535;
        z-index: 0;
    }

    &__check {
        width: 59px;
        align-self: stretch;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        z-index: 1;
        .fa-circle-check {
            color: white;
            font-size: 20px;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
        }
    }
    &__check, &--prix {
        transform: translateX(60px);
        transition: transform 0.3s ease;
    }

    @media screen and (min-width:1024px) {
        min-width: 60.1%;
        &:hover {
            .menu-page__menu__info__card__check {
                transform: translateX(0);
                .fa-circle-check {
                    transform: rotate(360deg);
                }
            }
            .menu-page__menu__info__card--prix {
                transform: translateX(0);
            }

        }
    }
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@for $i from 1 through 3 {
    .menu-page__menu__info:nth-of-type(#{$i}){
        animation-delay: #{$i*1400ms};
    }
    @for $j from 2 through 6 {
        .menu-page__menu__info:nth-of-type(#{$i}) .menu-page__menu__info__card:nth-child(#{$j}) {
            animation-delay: #{($i * 1000ms) + ($j * 400ms)};
        }
    }
}