.menu-page__menu__info__card {
    width: 21.8125rem;
    min-width: 93.066vw;
    background-color: white;
    padding: 0.9375rem;
    border-radius: 15.04px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 4.01px 15.04px rgba(0, 0, 0, 0.1);
    &__plats {
        display: flex;
        flex-direction: column;
        &--name {
            margin-bottom: 0.3125rem;
        }
        &--description {
            font-size: var(--plat-description-size);
            font-weight: var(--plat-description-weight);
        }
    }
    &__prix {
        font-size: var(--plat-description-size);
        font-weight: 900;
        color: #353535;
    }
}