.footer {
    background-color: var(--grey);
    padding: 1.375rem 1.5625rem;
    color: white;
    &--title {
        margin-bottom: 1.125rem;
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 0.4375rem;
        &__link {
            display: flex;
            align-items: center;
            gap: 0.6875rem;
            font-weight: 500;
            &__normal {
                font-weight: 400;
            }
            &--icon {
                font-size: 0.8125rem;
            }
        }
    }
    @media screen and (max-width: 1440px) and (min-width: 1024px) {
        height:7.125rem;
        padding: 1.875rem 1.5625rem;
        display: flex;
        flex-flow: row-reverse;
        align-items: flex-end;
        &--title {
            margin: 0 2.77vw 0 6.18vw;
        }
        &__links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5625rem;
            &__link__normal--legal {
                margin: 0 0.486vw 0 2.36vw;
            }
        }
    }

}